<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}

    <title>Checklist Seiscomp</title>
    {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css"
        integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
    {% endblock css %}

</head>

<body>
    <nav class="nav-wrapper blue darken-1">
        <div class="container">
            <div class="nav-wrapper blue darken-1">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="{% url 'checklist-seiscomp' %}">Input Data</a></li>
                    <li><a href="{% url 'list_view' %}">Inventory</a></li>
                    <li><a href="{% url 'operator_view' %}">Operator</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}

    {% block javascript %}
    {% endblock javascript %}
</body>

</html>