{% extends "base.html" %}
{% load materializecss %}

{% block content %}
<div class="container" style="padding-top: 2rem; padding-bottom: 2rem;">
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            <!-- Security token -->
            {% csrf_token %}

            <div class="col m6 s12">
                {{ input_form.tanggal|materializecss}}
            </div>

            <div class="col m6 s12">
                {{ input_form.jam|materializecss}}
            </div>

            <div class="col m6 s12">
                {{ input_form.kelompok|materializecss}}
            </div>

            <div class="col m6 s12">
                {{ input_form.operator|materializecss}}
            </div>

            <div>
                {{ input_form.gaps|materializecss}}
            </div>

            <div>
                {{ input_form.spikes|materializecss}}
            </div>

            <div>
                {{ input_form.blanks|materializecss}}
            </div>

            <div>
                {{ input_form.slmon|materializecss}}
            </div>

            <button type="submit" class="btn waves-effect waves-light blue darken-1" type="submit"
                name="action">Submit</button>
        </form>
    </div>

    <br><br>
    <h4>Data terakhir</h4>
    <a style="display: none;" class="waves-effect waves-light btn red darken-1" href="/"><i
            class="material-icons left">picture_as_pdf</i>Buat
        Laporan PDF</a>
    <a class="waves-effect waves-light btn green darken-1"
        onclick="window.location.href='{% url 'export_excel_instant' %}'"><i class="fa-solid fa-file-excel"
            style="padding-right: 1rem;"></i>Buat Laporan
        Excel</a>
    <table>
        <tr>
            <th>Tanggal</th>
            <th>Kelompok</th>
            <th>Operator</th>
            <th>Jam</th>
            <th>Gaps</th>
            <th>Spikes</th>
            <th>Blanks</th>
            <th>Slmon</th>
        </tr>
        {% for data in dataset %}
        <tr>
            <td> {{ data.tanggal }} </td>
            <td> {{ data.kelompok }} </td>
            <td> {{ data.operator }} </td>
            <td> {{ data.jam }} </td>
            <td> {{ data.gaps }} </td>
            <td> {{ data.spikes }} </td>
            <td> {{ data.blanks }} </td>
            <td> {{ data.slmon }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var options = {
            'autoClose': true,
        };
        M.Datepicker.init(elems, options);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.tooltipped');
        M.Tooltip.init(elems);
    });

</script>
{% endblock javascript %}