{% extends "base.html" %}
{% load materializecss %}


{% block content %}

<div class="container" style="padding-top: 2rem;">
    <form method="POST" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}
        {{ input_form.as_p }}
        <button type="submit" class="btn waves-effect waves-light blue darken-1" type="submit" name="action">Submit</button>
    </form>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
    integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var options = {
            'autoClose': true,
        };
        M.Datepicker.init(elems, options);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);
    });
</script>
{% endblock javascript %}

<!-- 'date',
                'gaps',
                'spikes',
                'blanks',
                'operator',
                'group',
                'gaps', -->