{% extends "base.html" %}
{% load materializecss %}

{% block content %}
<div class="container" style="padding-top: 2rem; padding-bottom: 2rem;">
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            <!-- Security token -->
            {% csrf_token %}

            <div class="col m6 s12">
                <label for="tanggal">Tanggal (format: yyyy-mm-dd)</label>
                {{ input_form.tanggal }}
            </div>

            <div class="col m6 s12">
                {{ input_form.jam|materializecss}}
            </div>

            <div class="col m6 s12">
                {{ input_form.kelompok|materializecss}}
            </div>

            <div class="col m6 s12">
                {{ input_form.operator|materializecss}}
            </div>

            <div>
                {{ input_form.slmon|materializecss}}
            </div>

            <div class="col m4 s12">
                {{ input_form.gaps|materializecss}}
            </div>

            <div class="col m4 s12">
                {{ input_form.spikes|materializecss}}
            </div>

            <div class="col m4 s12">
                {{ input_form.blanks|materializecss}}
            </div>

            <div class="col s12">
                <button type="submit" class="btn waves-effect waves-light blue darken-1" type="submit"
                    name="action">Submit</button>
            </div>
        </form>
    </div>

    <br><br>
    <h4>Data terakhir</h4>
    <table>
        <tr>
            <th>Tanggal</th>
            <th>Kelompok</th>
            <th>Operator</th>
            <th>Jam</th>
            <th>Gaps</th>
            <th>Spikes</th>
            <th>Blanks</th>
            <th>Slmon</th>
        </tr>
        {% for data in dataset %}
        <tr>
            <td> {{ data.tanggal|date:'Y-m-d' }} </td>
            <td> {{ data.kelompok }} </td>
            <td> {{ data.operator }} </td>
            <td> {{ data.jam }} </td>
            <td> {{ data.count_gaps }} </td>
            <td> {{ data.count_spikes }} </td>
            <td> {{ data.count_blanks }} </td>
            <td> {{ data.slmon }} </td>
        </tr>
        {% endfor %}
    </table>
        <div style="text-align: right; margin-top: 1rem;">
            <a style="" class="waves-effect waves-light btn blue darken-1" href="{% url 'ChecklistSeiscomp:list_view' %}">Go to Inventory</a>
        </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var options = {
            'autoClose': true,
            'format': 'yyyy-mm-dd'
        };
        M.Datepicker.init(elems, options);
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        M.FormSelect.init(elems);
    });
</script>
{% endblock javascript %}