{% extends "base.html" %}
{% load materializecss %}

{% block content %}

<div class="container" style="padding-top: 2rem;">

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text waves-effect waves-light blue darken-1"><i
                    class="material-icons left">add</i>Tambah Operator</div>
            <div class="collapsible-body">
                <div class="row">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="input-field">
                            <!-- Security token -->
                            {% csrf_token %}

                            <!-- Using the formset -->
                            {{ add_operator_form }}
                            <button class="btn waves-effect waves-light blue darken-1" type="submit"
                                name="action">Tambah Operator
                            </button>
                    </form>
                </div>
            </div>
</div>
</li>
</ul>

<table>
    <tr>
        <th>Nama</th>
        <th>Aksi</th>
    </tr>
    {% for operator in operators %}
    <tr>
        <td> <input id="{{ operator.id }}" type="text" value="{{ operator.name }}"
                style="color: black; border-bottom: 0;" disabled> </td>
        <td>
            <a class="waves-effect waves-light btn" id="edit-{{ operator.id }}"><i
                    class="material-icons center">edit</i></a>
            <a class="waves-effect waves-light btn red" id="delete-{{ operator.id }}"><i
                    class="material-icons center">delete</i></a>
        </td>

    </tr>
    {% endfor %}
</table>

</div>

{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
    integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        M.Collapsible.init(elems);
    });
</script>
{% endblock javascript %}