{% extends "base.html" %}
{% load materializecss %}

{% block content %}

<div class="container" style="padding-top: 2rem;">

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text waves-effect waves-light blue darken-1"><i
                    class="material-icons left">add</i>Tambah Operator</div>
            <div class="collapsible-body">
                <div class="row">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="input-field">
                            <!-- Security token -->
                            {% csrf_token %}

                            <!-- Using the formset -->
                            {{ add_operator_form }}
                            <button class="btn waves-effect waves-light blue darken-1" type="submit" name="action"
                                onclick="submitForm()">Tambah Operator
                            </button>
                    </form>
                </div>
            </div>
</div>
</li>
</ul>

<table>
    <tr>
        <th>No.</th>
        <th>Nama</th>
        <th>Aksi</th>
    </tr>
    {% for operator in operators %}
    <tr>
        <td>
        </td>
        <td> <input id="name_{{ operator.id }}" type="text" value="{{ operator.name }}"
                style="color: black; border-bottom: 0;" disabled> </td>
        <td>
            <a id="editBtn_{{ operator.id }}" class="waves-effect waves-light btn"
                onmouseup="editOperator({{ operator.id }})" style="display: none;"><i
                    class="material-icons center">edit</i></a>
            <a id="op_del_btn_{{ operator.id }}" class="waves-effect waves-light btn red"
                onmouseup="op_delete({{ operator.id }})"><i class="material-icons center">delete</i></a>
            <a id="delete_confirmation_{{ operator.id }}" href="{% url 'operator_delete' operator.id %}"
                class="waves-effect waves-light btn red" style="visibility: hidden;"><i
                    class="material-icons center"></i>yes</a>
        </td>

    </tr>
    {% endfor %}
</table>

</div>

{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
    integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        M.Collapsible.init(elems);
    });

    function submitForm() {
        // Get the first form with the name
        // Usually the form name is not repeated
        // but duplicate names are possible in HTML
        // Therefore to work around the issue, enforce the correct index
        var frm = document.getElementsByName('contact-form')[0];
        frm.submit(); // Submit the form
        frm.reset();  // Reset all form data
        return false; // Prevent page refresh
    }


    var op_delete = function (id) {
        var delBtn = document.getElementById('delete_confirmation_' + id);
        delBtn.style.visibility = "visible";
        var delBtnNo = document.getElementById('op_del_btn_' + id);
        delBtnNo.innerHTML = "no";
        delBtnNo.classList.remove("red");
        delBtnNo.classList.add("white", "black-text");
        delBtnNo.onmouseup = '';
        return delBtnNo.setAttribute('href', '/operator_view')
    }

    var editOperator = function (id) {
        var nameField = document.getElementById('name_' + id);
        nameField.disabled = false;
        nameField.focus();

        var editBtn = document.getElementById('editBtn_' + id);
        editBtn.innerHTML = "save";
        editBtn.setAttribute('href', '/operator_update/' + id)
        editBtn.setAttribute('onmouseup', `saveOperator(${id})`)
    }

    var saveOperator = function (id) {
        var nameField = document.getElementById('name_' + id);

        const field1 = nameField.value();

        fetch(`/operator_update/${id}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ field1 })
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error(error));
    }

</script>
{% endblock javascript %}