{% extends "base.html" %}
{% load materializecss %}

{% block content %}
<div class="container" style="padding-top: 2rem;">

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text waves-effect waves-light green darken-1"><i
                    class="material-icons left">add</i>Tambah Stasiun</div>
            <div class="collapsible-body">
                <div class="row">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="input-field">
                            <!-- Security token -->
                            {% csrf_token %}

                            <!-- Using the formset -->
                            {{ add_station_list_form|materializecss }}
                            <button class="btn waves-effect waves-light green darken-1" type="submit" name="action"
                                onclick="submitForm()">Tambah Stasiun
                            </button>
                    </form>
                </div>
            </div>
</div>
</li>
</ul>

<table>
    <tr>
        <th>No.</th>
        <th>Kode</th>
        <th>Lokasi</th>
        <th>Tipe</th>
        <th>Aksi</th>
    </tr>
    {% for station in station_list %}
    <tr>
        <td>
            {{ forloop.counter}}
        </td>
        <td> <input id="kode_{{ station.id }}" type="text" value="{{ station.kode }}"
                style="color: black; border-bottom: 0;" disabled> </td>
        <td> <input id="kode_{{ station.id }}" type="text" value="{{ station.lokasi }}"
                style="color: black; border-bottom: 0;" disabled> </td>
        <td> <input id="kode_{{ station.id }}" type="text" value="{{ station.tipe }}"
                style="color: black; border-bottom: 0;" disabled> </td>

        <td>
            <a id="editBtn_{{ station.id }}" class="waves-effect waves-light btn"
                onmouseup="editOperator({{ stasiun.id }})" style="display: none;"><i
                    class="material-icons center">edit</i></a>
            <a id="sta_del_btn_{{ station.id }}" class="waves-effect waves-light btn red"
                onmouseup="sta_delete({{ station.id }})"><i class="material-icons center">delete</i></a>
            <a id="delete_confirmation_{{ station.id }}" href="{% url 'ChecklistSeiscomp:station_list_delete' station.id %}"
                class="waves-effect waves-light btn red" style="visibility: hidden;"><i
                    class="material-icons center"></i>yes</a>
        </td>

    </tr>
    {% endfor %}
</table>

</div>
{% endblock content %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        M.Collapsible.init(elems);
    });

    var sta_delete = function (id) {
        var delBtn = document.getElementById('delete_confirmation_' + id);
        delBtn.style.visibility = "visible";
        var delBtnNo = document.getElementById('sta_del_btn_' + id);
        delBtnNo.innerHTML = "no";
        delBtnNo.classList.remove("red");
        delBtnNo.classList.add("white", "black-text");
        delBtnNo.onmouseup = '';
        return delBtnNo.setAttribute('href', '/checklist-seiscomp/station_list_view')
    }

</script>
{% endblock javascript %}