asgiref==3.8.1
Bottleneck==1.4.2
Brotli==1.0.9
certifi==2024.12.14
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==5.1.3
django-materializecss-form==1.1.17
django-tables2==2.7.0
djangorestframework==3.15.2
docx2pdf==0.1.8
et_xmlfile==1.1.0
fpdf==1.7.2
gunicorn==22.0.0
idna==3.7
lml==0.1.0
mod_wsgi==5.0.2
numexpr==2.10.1
numpy==2.2.0
odfpy==1.4.1
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pdfkit==1.0.0
pillow==11.0.0
pip==24.2
plotly==5.24.1
plum-dispatch==1.7.4
psycopg2==2.9.9
pyexcel-io==0.6.7
pyexcel-ods==0.6.0
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.0
pypandoc==1.14
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
reportlab==3.6.13
requests==2.32.3
setuptools==75.1.0
six==1.16.0
Spire.Xls==14.12.0
sqlparse==0.4.4
tenacity==9.0.0
tqdm==4.67.1
typing_extensions==4.11.0
tzdata==2023.3
urllib3==2.2.3
wheel==0.44.0
whitenoise==6.7.0
xlrd==2.0.1
xlsx2pdf==1.0.4
XlsxWriter==3.2.0
xlwt==1.3.0
