<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:operator_list' %}">Operator</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item ml-3">
                    <a class="nav-link" href="{% url 'core:kelompok_list' %}">Kelompok</a>
                </li>
            </ul>                
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
    {% if 'qc' in request.resolver_match.namespace %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'qc:qcrecord_list' %}">QC Records</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'qc:qcrecord_create' %}">Create Record</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    {% if 'cl_seiscomp' in request.resolver_match.namespace %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cl_seiscomp:cs_list' %}">Ceklis Seiscomp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cl_seiscomp:station_list' %}">Station List</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    {% if 'bast' in request.resolver_match.namespace %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bast:bastrecord_list' %}">BAST List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'bast:bastrecord_create' %}">Create BAST</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
        aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this record?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var deleteForm;
            var deleteButtons = document.querySelectorAll(".delete-button");

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function (event) {
                    event.preventDefault();
                    deleteForm = button.closest("form");
                    $("#deleteConfirmationModal").modal("show");
                });
            });

            document.getElementById("confirmDeleteButton").addEventListener("click", function () {
                if (deleteForm) {
                    deleteForm.submit();
                }
            });

            // Handle cancel and close buttons
            document.querySelectorAll(".btn-secondary, .close").forEach(function (button) {
                button.addEventListener("click", function () {
                    $("#deleteConfirmationModal").modal("hide");
                });
            });
        });
    </script>
</body>

</html>