<!DOCTYPE html>
<html>

<head>
    <title>Homepage</title>
</head>

<body>
    {% extends "core/base.html" %}

    {% block title %}Homepage{% endblock %}

    {% block content %}
    <h1>Welcome to the Homepage</h1>
    <ul></ul>
    <li><a href="{% url 'qc:qcrecord_list' %}">QC App</a></li>
    <li><a href="{% url 'cl_seiscomp:cs_list' %}">Ceklis Seiscomp</a></li>
    <li><a href="{% url 'text_formatter:text_formatter_view' %}">Text Formatter</a></li>
    <li><a href="{% url 'bast:bastrecord_list' %}">BAST</a></li>
    <li><a href="{% url 'focmec:focmec_list' %}">QC Focal Mechanism</a></li>
    </ul>
    {% endblock %}
</body>

</html>