{% extends 'core/base.html' %}
{% block title %}Operator List{% endblock %}

{% block content %}
<h1 class="mt-5">Operator List</h1>
<a href="{% url 'core:operator_create' %}" class="btn btn-primary mb-3">
    <i class="fas fa-plus"></i> Add Operator
</a>
<a href="{% url 'core:operator_bulk_create' %}" class="btn btn-primary mb-3">
    <i class="fas fa-file-csv"></i> Add Operators (CSV)
</a>
</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>NIP</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in operator %}
            <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.NIP }}</td>
                <td>
                    <a href="{% url 'core:operator_update' record.pk %}" class="btn btn-sm btn-warning" data-toggle="tooltip" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="{% url 'core:operator_delete_direct' record.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="button" class="btn btn-sm btn-danger delete-button" data-toggle="tooltip" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}