{% extends "base.html" %}
{% load materializecss %}

{% block content %}
<div class="row" style="margin-top: 5rem">
    <div class="col s12 m8 l4 offset-m2 offset-l4">
        <div class="card">

            <div class="card-action blue darken-1 white-text">
                <h4>Login Form</h4>
            </div>

            <div class="card-content">

                <form method="POST" action="{% url 'accounts:login' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" , placeholder="Username" required>

                    </div><br />
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" , placeholder="Password" required>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-secondary blue darken-1" style="width: 100%;">Login</button>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
{% endblock javascript %}